<h1><%= @post.id ?  "Edit #{@post.name}" : 'Create A post' %></h1>
<hr />
<%= form_for @post do |f| %>

  <br />
  <%= f.label :content %>
  <%= f.text_field :content, required: true %>
  <br />
  <%= f.submit %>
<% end %>